.coin {
    display: flex;
    flex: 1 1;
    max-width: 800px;
    margin: 16px auto;
}

.card {
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    overflow: hidden;
}

.coin .coin__main-info {
    flex: 1;
}

.coin .coin__description {
    flex: 1;

    padding: 16px;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    overflow: hidden;
}

.currency {
    padding: 16px;
    margin: 0 16px 0 0;
    display: flex;
    align-items: center;
}

.currency .currency__icon {
    width: 25px;
    height: 25px;
}

.currency .currency__name {
    margin: 0 8px;
}

.currency .currency__name, .currency__symbol {
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
}

.currency .currency__symbol {
    text-transform: uppercase;
    opacity: .6;
}

.currency-data {
    padding: 16px;
    margin: 16px 16px 0 0;

    display: flex;
    flex-direction: column;
}

.currency-data > * {
    display: block;
    margin-top: 18px;
}

.currency-data > *:first-child {
    margin-top: 0px;
}

.info-block {
    display: flex;
    flex-direction: column;
}

.info-block .info-block__title {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
    letter-spacing: .0125em;
    text-decoration: inherit;
    text-transform: inherit;
}

.info-block .info-block__value {
    font-family: Roboto, sans-serif;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: .0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    opacity: .8;
}

.info-block .info-block__value a {
    word-break: break-all;
}

@media only screen and (max-width: 767px){
    .coin {
        flex-direction: column;
    }

    .currency {
        margin: 0 16px 0 16px;
    }

    .currency-data {
        margin: 16px 16px 0 16px;
    }

    .coin .coin__description {
        margin: 16px 16px 0 16px;
    }
}